<template>
  <a class="nav-link" href="#">
    <slot name="logo" />
    {{ text }}
  </a>
</template>

<script setup lang="ts">
  import { toRefs } from 'vue'

  interface IProps {
    text?: string
  }

  const props = defineProps<IProps>()
  const { text } = toRefs(props)
</script>

<style scoped lang="sass">
  .nav-link
    text-decoration: none
    font-size: 20px
    font-weight: 600
    display: block
    color: white
    padding: 5px 15px
    position: relative
    transition: all .5s ease
    &::after
      transition: all .5s ease-out
      content: ""
      display: block
      position: absolute
      width: 0%
      height: 3px
      left: 0
      bottom: 0
      background: #fce38a
    &:hover::after
      width: 100%
  [active="true"]
    color: #fce38a
    &::after
      width: 100%
</style>
