<template>
  <button class="btn"><slot /></button>
</template>

<style scoped lang="sass">
  .btn
    background: none
    font-size: 16px
    cursor: pointer
    padding: 10px 20px
    width: 180px
    transition: all .5s
    border: 1px solid var(--item-color)
    text-transform: uppercase
    font-weight: bold
    letter-spacing: 2px
    color: var(--text-color)
</style>
