<template>
  <div
    ref="card"
    class="card-wrap"
    @mousemove="handleMouseMove"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
  >
    <div class="card" :style="cardStyle">
      <div class="card-bg" :style="[cardBgTransform, cardBgImage]"></div>
      <div class="card-info">
        <h1 class="header">{{ props.title }}</h1>
        <p class="content">{{ props.descr }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onMounted, ref, computed } from 'vue'

  interface IProps {
    dataImage: string
    title: string
    descr: string
  }

  const props = defineProps<IProps>()
  const card = ref<HTMLElement>()
  const width = ref(0)
  const height = ref(0)
  const mouseX = ref(0)
  const mouseY = ref(0)
  const mouseLeaveDelay = ref<ReturnType<typeof setTimeout>>()

  onMounted((): void => {
    const self = card.value

    width.value = self ? self.offsetWidth : 0
    height.value = self ? self.offsetHeight : 0
  })

  const mousePX = computed((): number => {
    return mouseX.value / width.value
  })

  const mousePY = computed((): number => {
    return mouseY.value / height.value
  })

  const cardStyle = computed((): object => {
    const rX = mousePX.value * 60
    const rY = mousePY.value * -60

    return {
      transform: `rotateY(${rX}deg) rotateX(${rY}deg)`,
    }
  })

  const cardBgTransform = computed((): object => {
    const tX = mousePX.value * -70
    const tY = mousePY.value * -70

    return {
      transform: `translateX(${tX}px) translateY(${tY}px)`,
    }
  })

  const cardBgImage = computed((): object => {
    return {
      backgroundImage: `url(${props.dataImage})`,
    }
  })

  const handleMouseMove = (e: MouseEvent): void => {
    const offsetLeft = card.value ? card.value.getBoundingClientRect().left : 0
    const offsetTop = card.value ? card.value.getBoundingClientRect().top : 0
    mouseX.value = e.pageX - offsetLeft - width.value / 2
    mouseY.value = e.pageY - offsetTop - height.value / 2
  }

  const handleMouseEnter = (): void => {
    clearTimeout(mouseLeaveDelay.value)
  }

  const handleMouseLeave = (): void => {
    mouseLeaveDelay.value = setTimeout((): void => {
      mouseX.value = 0
      mouseY.value = 0
    }, 500)
  }
</script>

<style scoped lang="sass">
  $hoverEasing: cubic-bezier(0.23, 1, 0.32, 1)
  $returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95)

  p
    line-height: 1.5em

  h1+p, p+p
    margin-top: 10px

  .card-wrap
    transform: perspective(800px)
    transform-style: preserve-3d
    cursor: pointer

    &:hover
      .card-info
        transform: translateY(-100%)

      .card-info p
        opacity: 1

      .card-info
        transition: 1s $hoverEasing

      .card-bg
        transition: 0.6s $hoverEasing, opacity 5s $hoverEasing
        opacity: 0.8

      .card
        transition: 0.6s $hoverEasing, box-shadow 2s $hoverEasing
        box-shadow: rgba(30, 213, 4, .5) 0 0 40px 5px, rgba(30, 213, 4, 1) 0 0 0 1px, rgba(30, 213, 4, .66) 0 30px 60px 0, inset rgba(30, 213, 4, 1) 0 0 0 5px, inset rgba(30, 213, 4, 1) 0 0 0 6px

  .card
    position: relative
    width: 240px
    height: 320px
    background-color: #333
    overflow: hidden
    border-radius: 10px
    box-shadow: rgba(black, 0.66) 0 30px 60px 0 inset #333 0 0 0 5px inset rgba(white, 0.5) 0 0 0 6px
    transition: 1s $returnEasing

  .card-bg
    opacity: 0.5
    position: absolute
    top: -35px
    left: -35px
    padding: 35px
    width: calc(100% + 70px)
    height: calc(100% + 70px)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    transition: 1s $returnEasing, opacity 5s 1s $returnEasing
    pointer-events: none

  .card-info
    padding: 20px
    position: absolute
    top: 100%
    color: #fff
    transition: .6s 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    transform: translateY(0)
    width: 100%

    p
      opacity: 0
      text-shadow: rgba(black, 1) 0 2px 3px
      transition: .3s .6s cubic-bezier(0.215, 0.61, 0.355, 1)

    *
      position: relative
      z-index: 1

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      width: 100%
      height: 100%
      background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%)
      background-blend-mode: overlay

  .card-info h1
    font-size: 36px
    font-weight: 700
    text-shadow: rgba(black, 0.5) 0 10px 10px
</style>
