<template>
  <p class="about-item__title">
    {{ title }}:
    <span class="about-item__description">
      {{ descr }}
    </span>
  </p>
</template>

<script setup lang="ts">
  import { toRefs } from 'vue'

  interface IProps {
    title: string
    descr: string
  }

  const props = defineProps<IProps>()
  const { title, descr } = toRefs(props)
</script>
<style scoped lang="sass">
  .about-item
    &__title
      font-weight: 600
      padding: 10px
      font-size: 16px
      margin-bottom: 10px
      border-bottom: 1px solid var(--text-color)
    &__description
      font-weight: 400
      margin-left: 5px
</style>
