<template>
  <div class="burger">
    <span />
  </div>
</template>

<style scoped lang="sass">
  .burger
    height: 40px
    width: 45px
    border: 1px solid grey
    cursor: pointer
    border-radius: 10px
    background: white
    display: flex
    justify-content: center
    align-items: center
    transition: all .8s
    &.active
      transform: rotate(180deg)

    span
      height: 2px
      width: 18px
      display: block
      background: red
      position: relative
      &::after,
      &::before
        transition: all .8s
        content: ""
        display: block
        height: 2px
        width: 18px
        background: red
        position: absolute

      &::before
        top: -6px
        left: 0

      &::after
        bottom: -6px
        left: 0

    &.active
      span
        background: transparent
        &::before
          transform: rotate(45deg) translate(4px, 4px)

        &::after
          transform: rotate(135deg) translate(-4px, 4px)
</style>
