<template>
  <a class="contact-item" href="#">
    <div class="contact-item__logo-wrapper">
      <font-awesome-icon class="contact-item__logo" :icon="logo" />
    </div>
    <p class="contact-item__description">{{ description }}</p>
  </a>
</template>

<script setup lang="ts">
  import { toRefs } from 'vue'

  interface IProps {
    description: string
    logo: string[]
  }

  const props = defineProps<IProps>()
  const { description, logo } = toRefs(props)
</script>
<style scoped lang="sass">
  .contact-item
      background: #2f3542
      padding: 5px
      margin: 10px
      width: 250px
      height: 200px
      border-radius: 10px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      color: rgb(250, 250, 250)
      text-decoration: none
      cursor: pointer
      &:hover
        .contact-item__logo-wrapper
            background: none
            color: #ff6348
            transform: scale(1.6)

      &__description
        margin-top: 20px

      &__logo-wrapper
          font-size: 28px
          background: #ff6348
          width: 60px
          height: 60px
          text-align: center
          line-height: 60px
          border-radius: 50%
          transition: all .3s
</style>
