<template>
  <div class="card-item">
    <p class="card-item__title">
      <font-awesome-icon
        :icon="['fa', 'calendar']"
        class="card-item__title-icon"
      />{{ title }}
    </p>
    <p class="card-item__subTittle">{{ subTitle }}</p>
    <p class="card-item__description">{{ description }}</p>
  </div>
</template>

<script setup lang="ts">
  import { toRefs } from 'vue'

  interface IProps {
    title: string
    subTitle: string
    description: string
  }

  const props = defineProps<IProps>()
  const { title, subTitle, description } = toRefs(props)
</script>
<style scoped lang="sass">
  .card-item
    z-index: 10
    background: rgba(255, 255, 255, .1)
    padding: 15px 15px 30px 40px
    position: relative
    border-left: 1px solid rgba(0, 0, 0, .25)
    border-right: 1px solid rgba(0, 0, 0, .25)
    &::after
      position: absolute
      content: ""
      width: 15px
      height: 15px
      border-radius: 50%
      background: var(--text-color)
      top: 10%
      left: 9px
      z-index: 20
    &::before
      position: absolute
      content: ""
      height: 100%
      width: 2px
      background: var(--text-color)
      left: 15px
      top: 0
    &:first-of-type
      border-top-left-radius: 20px
      border-top-right-radius: 20px
      border-top: 1px solid rgba(0, 0, 0, .25)
      &::before
        top: 10%
    &:last-of-type
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
      padding-bottom: 15px
      border-bottom: 1px solid rgba(0, 0, 0, .25)
      &::before
        top: -15px

    &__title
      margin-bottom: 10px
      font-size: 14px
      &-icon
        margin-right: 10px

    &__subTittle
      font-weight: 700
      font-size: 18px
      line-height: 21px
    &__description
      margin-top: 12px
      font-weight: 500
      font-size: 14px
      line-height: 18px
</style>
