<template>
  <div class="about__wrapper">
    <div class="container">
      <h1 class="about__title sub-line">About me</h1>
      <h3 class="about__sub-title">
        I'm Evgenii Zhukov and <span>frontend developer</span>
      </h3>
      <p class="about__description">
        Some facts about me: I like playing games (computer and desktop),
        programming and cats :), learning English.
      </p>
      <div class="about__me">
        <div class="about__me-info">
          <about-item
            v-for="item in aboutList"
            :key="item.title + item.description"
            :title="item.title"
            :descr="item.description"
            class="about__me-info_item"
          />
        </div>
        <div class="about__me-skills">
          <skill-item
            v-for="skill in skillList"
            :key="skill.title + skill.experience"
            :title="skill.title"
            :experience="skill.experience"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { AboutItem, aboutList, SkillItem, skillList } from '../components'
</script>

<style scoped lang="sass">
  .container
    display: flex
    justify-content: center
    align-items: start
    flex-direction: column

  .about
    &__wrapper
      width: 100%
      min-height: 100%
      background: var(--background-color)
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 65px 10px
      transition: background .3s

    &__sub-title,
    &__description
      font-size: 18px
      font-weight: normal
      span
        font-weight: bold
        color: var(--item-color)

    &__sub-title
      margin-bottom: 5px

    &__description
      margin-bottom: 30px
    &__title
      margin-bottom: 30px
      position: relative
      align-self: start

    &__me
      display: flex
      width: 100%
      justify-content: start
      align-items: start
      &-info
        width: 60%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom: 30px
        &_item
          margin-right: 10px
          max-width: 100%
          min-width: 270px
          width: calc( 50% - 10px )
      &-skills
        width: 40%
        min-width: 230px

  @media screen and (max-width: 1324px)
    .about__me
      &-info
        width: 40%
      &-skills
        width: 60%
  @media screen and (max-width: 1100px)
    .about__me
      &-info
        width: 50%
      &-skills
        width: 50%
  @media screen and (max-width: 960px)
    .about__me
      flex-direction: column

    .about
      &__me
        &-info,
        &-skills
          width: 100%
          &_item
            width: 100%
            text-align: center
      &__title,
      &__me-skills .skill-item__title
        font-size: 20px
      &__description,
      &__sub-title
        font-size: 16px
</style>
