<template>
  <div class="contacts__wrapper">
    <div class="container">
      <div class="contacts__list">
        <contact-item
          v-for="contact in contactsList"
          :key="contact.description"
          :logo="contact.logo"
          :description="contact.description"
          :href="contact.link"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { ContactItem, contactsList } from '../components/index'
</script>

<style scoped lang="sass">
  .container
    display: flex
    justify-content: center
    align-items: center
  .contacts
      &__wrapper
        width: 100%
        min-height: 100%
        background: var(--background-color)
        display: flex
        justify-content: center
        align-items: center
        padding: 65px 10px
        transition: background .3s

      &__list
        width: 100%
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
        grid-template-rows: 200px
        grid-auto-rows: 200px
        row-gap: 20px
        column-gap: 25px
        justify-content: center
        a
          width: 100%
          margin: 0
</style>
