<template>
  <div class="experienceAndEducation__wrapper">
    <div class="container">
      <div class="experience">
        <h1 class="experienceAndEducation__title sub-line">Experience</h1>
        <div class="box-shadow">
          <card-item
            v-for="experience in experienceList"
            :key="experience.title + experience.subTitle"
            :title="experience.title"
            :sub-title="experience.subTitle"
            :description="experience.description"
          />
        </div>
      </div>
      <div class="education">
        <h1 class="experienceAndEducation__title sub-line">Education</h1>
        <div class="box-shadow">
          <card-item
            v-for="education in educationList"
            :key="education.title + education.subTitle"
            :title="education.title"
            :sub-title="education.subTitle"
            :description="education.description"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { CardItem, educationList, experienceList } from '../components'
</script>

<style scoped lang="sass">
  .container
    padding: 65px 30px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr))
    column-gap: 30px
    min-height: 0
    position: relative

  .experienceAndEducation
    &__wrapper
      width: 100%
      min-height: 100%
      background: var(--background-color)
      transition: background .3s
      display: flex
      justify-content: center
      align-items: center

    &__title
      margin-bottom: 30px
      padding-bottom: 5px
      position: relative

  .experience
    margin-bottom: 30px

  .box-shadow
    transition: all .3s
    border-radius: 20px
    box-shadow: 0 25px 45px rgba(0, 0, 0, .25)

  @media screen and (max-width: 600px)
    .experienceAndEducation
      &__title
        font-size: 24px
</style>
