<template>
  <div class="home__wrapper">
    <div class="container">
      <div class="home__info">
        <span class="home__title">
          I' m a &nbsp;
          <v-typical
            class="blink"
            :steps="['Evgenii Zhukov', 3000, 'Frontend Developer', 3000]"
            :loop="Infinity"
            :wrapper="'span'"
          />
        </span>
        <d class="home__description">
          I am a frontend developer. Without a doubt, I am lucky that I can grow
          professionally in this field. I am currently developing websites that
          give style and life with Vue JS. If there is one thing that
          characterizes me, it is the passion and perseverance that I dedicate
          myself to my projects and teaching on an ongoing basis!
        </d>
        <ui-button class="btn-contacts" @click="$router.push('/Contacts')"
          >Contacts</ui-button
        >
      </div>
      <div class="home__img">
        <img src="/static/img/about_me.png" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import UiButton from '../components/Button/UiButton.vue'
  import VTypical from 'vue-typical'
</script>

<style scoped lang="sass">
  .container
    display: flex
    justify-content: center
    align-items: center
  .home
    &__wrapper
      width: 100%
      min-height: 100%
      background: var(--background-color)
      display: flex
      justify-content: center
      align-items: center
      padding: 65px 10px
      transition: background .3s

    &__info
      max-width: 60%
      position: relative
      padding-bottom: 100px

    &__title
      margin-bottom: 25px
      display: flex
      font-size: 26px
      font-weight: bold
      .blink
          color: var(--item-color)

    &__description
      line-height: 150%
      font-weight: 500
      font-size: 18px

    &__img
      height: 400px
      padding: 25px 50px
      position: relative
      margin: 0 10px
      &::after,
      &::before
        content: ""
        position: absolute
        display: block
        width: 70px
        height: 70px

      &::after
        bottom: 0
        right: 0
        border-bottom: 8px solid var(--item-color)
        border-right: 8px solid var(--item-color)

      &::before
        top: 0
        left: 0
        border-top: 8px solid var(--item-color)
        border-left: 8px solid var(--item-color)

      img
        max-height: 100%

  .btn-contacts
    position: absolute
    bottom: 0
    left: 0
    margin: 20px 0
    &:hover
      background: #ffca18 url(/static/img/pixel.png)
      transition-delay: .8s
      background-size: 180px
      animation: animate-btn .8s steps(8) forwards

  .blink:after
    content: '|'
    animation: blink 1s infinite step-start
    color: var(--text-color)

  @keyframes animate-btn
    0%
      background-position-y: 0
    100%
      background-position-y: -480px

  @keyframes blink
    50%
      opacity: 0

  @media screen and (max-width: 726px)
    .container
        flex-direction: column
    .home
      &__img
        padding: 0

      &__info
        max-width: 100%

  @media screen and (max-width: 600px)
    .home
      &__title
        flex-direction: column
        font-size: 20px
      &__description
        font-size: 16px
</style>
