<template>
  <div class="rickAndMorty__wrapper">
    <pre-loader v-if="loading" />
    <div
      v-if="charactersStore.getCharactersPage.results[0].id !== -1"
      class="container"
    >
      <font-awesome-icon
        class="btn_arrow btn_arrow__prev"
        :icon="['fas', 'circle-chevron-left']"
        @click="handleNext(-1)"
      />
      <div class="rickAndMorty__cards">
        <TransitionGroup name="list">
          <card
            v-for="character in characters"
            :key="character.id"
            :data-image="character.image"
            :title="character.name"
            :descr="character.status"
          />
        </TransitionGroup>
      </div>

      <font-awesome-icon
        class="btn_arrow btn_arrow__next"
        :icon="['fas', 'circle-chevron-right']"
        @click="handleNext(1)"
      />
    </div>
  </div>
</template>

<script setup lang="ts">
  import { computed, onMounted, ref } from 'vue'
  import { axios } from '@/utils/injectTyped'
  import { AxiosKey } from '@/API/symbols'
  import { charactersState, loaderState } from '@/store/store'
  import { IInfo } from '@/store/home.type'
  import { ICharacter } from '@/components/rickAndMorty/Services/characters/character.model'
  import Card from '@/components/rickAndMorty/components/Card.vue'
  import { PreLoader } from '@/components/index'

  const charactersStore = charactersState()
  const loaderStore = loaderState()
  const http = axios(AxiosKey)
  const currentPage = ref(0)

  const loading = computed((): boolean => loaderStore.getLoadingState)
  const timeoutAnimation = ref<ReturnType<typeof setTimeout>>()
  const characters = computed((): ICharacter[] =>
    charactersStore.getCharacters(currentPage.value, 3)
  )

  onMounted(() => {
    loaderStore.setLoadingState(true)

    http.get<IInfo<ICharacter[]>>('character').then((resp) => {
      loaderStore.setLoadingState(false)
      charactersStore.setCharacters(resp.data)
    })
  })

  const handleNext = (increment: number): void => {
    clearTimeout(timeoutAnimation.value)
    const nextPage = currentPage.value + increment
    currentPage.value = 99
    const TIME_SLEEP = 450

    timeoutAnimation.value = setTimeout(() => {
      switch (true) {
        case nextPage >= 7:
          currentPage.value = 0
          break

        case nextPage < 0:
          currentPage.value = 6
          break

        default:
          currentPage.value = nextPage
          break
      }
    }, TIME_SLEEP)
  }
</script>

<style scoped lang="sass">
  .rickAndMorty
    &__wrapper
      width: 100%
      min-height: 100vh
      background: url(/static/img/RickAndMortyBackground.jpg) no-repeat
      background-position: center top
      background-size: cover
      background-attachment: fixed
      position: absolute
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 65px 10px
      transition: background .3s
    &__cards
      display: grid
      grid-template-columns: repeat(auto-fit, 240px)
      grid-template-rows: 320px
      grid-auto-rows: 320px
      row-gap: 20px
      column-gap: 20px
      justify-content: space-evenly

  .container
    position: relative
    padding: 40px 0px
    min-height: 0
    display: grid
    grid-template-columns: 50px 1fr 50px
    grid-template-rows: 1fr
    justify-content: center
    align-items: center

    .btn_arrow
      font-size: 40px
      cursor: pointer
      transition: all .3s
      margin: auto
      &:hover
        transform: scale(1.1)
        color: #b96925

  .list-enter-active,
  .list-leave-active
    transition: all 0.4s ease
  .list-enter-from,
  .list-leave-to
    opacity: 0
</style>
