<template>
  <div ref="loader" class="preloader">
    <div class="preloader__box">
      <div class="preloader__cube"></div>
    </div>
  </div>
</template>

<script setup lang="ts">
  import { onBeforeUnmount, onMounted, ref } from 'vue'
  const loader = ref<HTMLElement>()

  onMounted((): void => {
    ;(loader.value?.closest('#main-panel') as HTMLElement).style.overflow =
      'hidden'
  })

  onBeforeUnmount(() => {
    ;(loader.value?.closest('#main-panel') as HTMLElement).style.overflow = ''
  })
</script>

<style scoped lang="sass">
  .preloader
    width: 100%
    max-width: 100%
    height: 100vh
    background: rgba(0, 0, 0, .4)
    z-index: 100
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    &__box
        -webkit-box-reflect: below 1px linear-gradient(transparent, #000)
        position: relative
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        animation: surFase 1s ease-in-out infinite
    &__cube
        width: 150px
        height: 150px
        background: #03e9f4
        box-shadow: 0 0 5px rgba(3, 233, 244, 1.0), 0 0 25px rgba(3, 233, 244, 1.0), 0 0 50px rgba(3, 233, 244, 1.0), 0 0 100px rgba(3, 233, 244, 1.0), 0 0 200px rgba(3, 233, 244, .5), 0 0 300px rgba(3, 233, 244, .5)
        transform-origin: bottom right
        animation: loading 1s ease-in-out infinite

  @keyframes surFase
    0%
      transform: translateX()
    100%
      transform: translateX(-150px)

  @keyframes loading
    0%
      transform: rotate(0deg)
    50%
      transform: rotate(90deg)
    60%
      transform: rotate(80deg)
    70%
      transform: rotate(90deg)
    75%
      transform: rotate(87.5deg)
    80%,100%
      transform: rotate(90deg)
</style>
