<template>
  <h3 class="skill-item">
    <div class="skill-item__title">
      <span>{{ title }}</span>
      <span> {{ experience }}</span>
    </div>
    <span class="skill-item__bar">
      <span :style="{ width: experience }" />
    </span>
  </h3>
</template>

<script setup lang="ts">
  import { toRefs } from 'vue'

  interface IProps {
    title: string
    experience: string
  }

  const props = defineProps<IProps>()
  const { title, experience } = toRefs(props)
</script>
<style scoped lang="sass">
  .skill-item
    margin: 15px 5px
    &__title
      display: flex
      justify-content: space-between

    &__bar
      background: #353b48
      display: block
      height: 22px
      border: 1px solid rgba(0, 0, 0, .3)
      border-radius: 10px
      box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
      transition: all .3s cubic-bezier(.25, .8, .25, 1)
      &:hover
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
        span
          transform: translateY(-5px)
          box-shadow: 0 4px 0px rgba(236, 0, 140, 1)

      span
        height: 20px
        float: left
        border-radius: 10px
        transition: all .3s cubic-bezier(.25, .8, .25, 1)
        background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%)
</style>
