<template>
  <label class="user-theme__label" for="userTheme">
    <input
      id="userTheme"
      v-model="checked"
      class="user-theme"
      type="checkbox"
    />
    <transition>
      <font-awesome-icon
        v-if="checked"
        class="user-theme__icon"
        :icon="['fas', 'moon']"
      />
      <font-awesome-icon
        v-else
        class="user-theme__icon"
        :icon="['fas', 'sun']"
      />
    </transition>
  </label>
</template>

<script setup lang="ts">
  import { onMounted, ref, watch } from 'vue'

  const checked = ref(false)
  const usertheme = 'user-theme'

  enum ETheme {
    Light = 'light',
    Dark = 'dark',
  }

  type Theme = ETheme.Dark | ETheme.Light

  const setTheme = (theme: Theme): void => {
    localStorage.setItem(usertheme, theme)
    userTheme.value = theme
    document.documentElement.className = theme
  }

  const getTheme = (): Theme => {
    return localStorage.getItem(usertheme) as Theme
  }

  const toggleTheme = (): void => {
    const activeTheme: string | null = localStorage.getItem(usertheme)

    activeTheme === ETheme.Light
      ? setTheme(ETheme.Dark)
      : setTheme(ETheme.Light)
  }

  const getMediaPreference = (): Theme => {
    let theme: Theme = ETheme.Light
    const hasDarkPreference = window.matchMedia(
      '(prefers-color-scheme: dark)'
    ).matches

    theme = hasDarkPreference ? ETheme.Dark : ETheme.Light

    return theme
  }

  watch(checked, (newValue, oldValue): void => {
    toggleTheme()
  })

  const userTheme = ref<Theme>(getTheme() || getMediaPreference())

  onMounted((): void => setTheme(userTheme.value))
</script>

<style scoped lang="sass">
  .v-enter-active,
  .v-leave-active
    transition: opacity 0.5s ease

  .v-enter-from,
  .v-leave-to
    opacity: 0

  .user-theme
    position: absolute
    opacity: 0
    z-index: -10
    &__icon
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__label
        position: relative
        cursor: pointer
        width: 40px
        height: 40px
        font-size: 28px
        border-radius: 50%
        transition: all .5s
        background: rgba(250, 250,250)
        z-index: 1000
        color: #939393
        box-shadow: 0 1px 20px rgba(0, 0, 0, .5)
</style>
