@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200300400500600700&display=swap')

:root.light
  --background-color: rgb(250, 250, 250)
  --text-color: #282828
  --item-color: #ff7800

:root.dark
  --background-color: rgb(24, 26, 27)
  --text-color: #a1a1a1
  --item-color: #d46301


* 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  overflow-x: hidden
  max-width: 100vw
  font-family: 'Poppins', sans-serif
  background: var(--background-color)
  color: var(--text-color)

.container
  position: absolute
  top: 0
  left: 0
  width: 100%
  max-width: 1120px
  min-height: 100vh
  padding: 20px

.sub-line
  &::before,
  &::after
    display: block
    content: ''
    position: absolute
    left: 0
    height: 3px
    border-radius: 5px
    background: var(--item-color)
  &::before
    width: 40px
    bottom: 0
  &::after
    width: 30px
    bottom: -5px
  
@media screen and (max-width: 768px)
  .container
    padding-top: 60px
  
