<template>
  <div class="wrapper">
    <div class="sideBar-panel" :class="{ hide: isShowSidePanel }">
      <user-theme class="theme" />
      <ui-burger
        class="sideBar-panel__burger"
        :class="{ active: !isShowSidePanel }"
        @click="isShowSidePanel = !isShowSidePanel"
      />
      <ul class="sideBar-panel__nav">
        <router-link
          v-for="link in itemLinks"
          :key="link.path"
          v-slot="{ href, navigate, isExactActive }"
          :to="link.path"
          custom
        >
          <li class="sideBar-panel__nav-item">
            <nav-link
              :active="isExactActive"
              :href="href"
              :text="link.name"
              @click.prevent="handleRoute(navigate)"
            >
              <template #logo>
                <font-awesome-icon class="nav-link__logo" :icon="link.logo" />
              </template>
            </nav-link>
          </li>
        </router-link>
      </ul>
    </div>
    <div id="main-panel" ref="mainPanel" class="main-panel">
      <main-content />
    </div>
  </div>
</template>

<script setup lang="ts">
  import MainContent from './MainContent.vue'
  import { onMounted, ref } from 'vue'
  import { itemLinks, UiBurger, NavLink, UserTheme } from '@/components/index'

  const isShowSidePanel = ref(false)
  const mainPanel = ref<HTMLElement>()
  const windowWidth: boolean =
    document.documentElement.clientWidth <= 1000 ? true : false

  onMounted((): void => {
    isShowSidePanel.value = windowWidth
  })

  const handleRoute = (navigate: () => void): void => {
    ;(mainPanel.value as HTMLElement).scrollTop = 0
    navigate()
    isShowSidePanel.value = windowWidth
  }
</script>

<style scoped lang="sass">
  .sideBar-panel
    transition: all .8s cubic-bezier(.3, .26, .09, .97)
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: fixed
    top: 0
    width: 350px
    min-height: 400px
    height: 100vh
    background: linear-gradient(180deg, rgba(232,129,130,1) 0%, rgba(239,216,138,1) 100%)
    z-index: 1000
    border-right: 1px solid grey

    &__nav
      list-style: none
      &-item
        margin-bottom: 25px

    &__burger
      position: absolute
      top: 10px
      right: -20px
      transform: translateX(100%)
      display: none

    &.hide
      transform: translateX(-100%)

      &+.main-panel
        left: 0
        width: 100%

  .nav-link
    &__logo
      margin-right: 10px

  .main-panel
    position: relative
    left: 350px
    top: 0
    min-height: 400px
    height: 100vh
    width: calc( 100% - 350px )
    overflow-x: hidden

  .theme
    position: absolute
    top: 40px
    left: 270px
  .wrapper
    width: 100%
    position: absolute
    left: 0
    top: 0

  @media screen and (max-width: 1000px)
    .sideBar-panel
      width: 260px
      &__burger
        display: flex
    .main-panel
      left: 0
      width: 100%
      margine: 20px
    .theme
      left: 40px
</style>
