<template>
  <router-view v-slot="{ Component }">
    <transition name="scale-slide">
      <component :is="Component" />
    </transition>
  </router-view>
</template>

<style scoped lang="sass">
  .scale-slide-enter-active,
  .scale-slide-leave-active
    position: absolute !important
    transition: right .8s cubic-bezier(.3, .26, .09, .97), transform .8s cubic-bezier(.3, .26, .09, .97) !important

  .scale-slide-enter-from
    right: -100%

  .scale-slide-enter-to
    right: 0%

  .scale-slide-leave-from
    transform: scale(1)

  .scale-slide-leave-to
    transform: scale(0.6)
</style>
